*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.in_box{
    max-width: 800px;
    margin: auto;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
h1 h2{
    text-align: center;
    color: #333;
}
form{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}
label{
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}
input[type="text"],
input[type="number"],
select {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
}
button{
    padding: 17px 40px;
    border-radius: 50px;
    font-size: 16px;
    cursor: pointer;
    border: 0;
    background-color: white;
    box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    transition: all 0.5s ease;
}
button:hover{
    letter-spacing: 3px;
    background-color: hsl(261deg 80% 48%);
    color: white;
    box-shadow: rgb(93 24 220) 0px 7px 29px 0px;
}
button:active{
    letter-spacing: 3px;
    background-color: hsl(261deg 80% 48%);
    color: white;
    box-shadow: rgb(93 24 220) 0px 0px 0px 0px;
    transform: translateY(10px);
    transition: 100ms;
}
#output{
    margin-top: 20px;
}
#photoOutput, #postsOutput, #commentsOutput, #albumsOutput, #usersOutput, #todosOutput{
    margin-bottom: 20px;
}
.data-item{
    padding: 10px;
    border-bottom: 1px solid whitesmoke;
}
.data-item p{
    margin: 5px 0;
}
.data-item img {
    max-width: 100%;
    height: auto;
    border-radius: 4px;
    margin-bottom: 10px;
}
.data-item:last-child{
    border-bottom: none;
}
#output,
#customOutputs {
    margin-top: 30px;
}

h3 {
    margin-bottom: 15px;
    color: #007BFF;
}
